## Streamlit Demo

To install Streamlit, we only need a single line in Python, using pip

Then, we can start using Streamlit functionalities based on our needs, by importing it in our notebook and declaring it, like any other python module/library

In [14]:
import kagglehub
import os
import pandas as pd
import numpy as np

path = kagglehub.dataset_download("ahmedmohamed2003/quality-of-life-for-each-country")
print(os.listdir(path))

df = pd.read_csv(path + "/Quality_of_Life.csv", header=0)
df.head()

['Quality_of_Life.csv']

,country,Purchasing Power Value,Purchasing Power Category,Safety Value,Safety Category,Health Care Value,Health Care Category,Climate Value,Climate Category,Cost of Living Value,Cost of Living Category,Property Price to Income Value,Property Price to Income Category,Traffic Commute Time Value,Traffic Commute Time Category,Pollution Value,Pollution Category,Quality of Life Value,Quality of Life Category
0,Afghanistan,32.15,'Very Low',25.33,'Low',24.24,'Low',0.00,NaN,21.08,'Very Low',7.8,'Low',56.17,'Very High',84.44,'Very High',0.0,NaN
1,Aland Islands,125.01,'Very High',71.81,'High',79.72,'High',0.00,NaN,53.44,'Low',5.33,'Low',19.05,'Very Low',18.05,'Very Low',0.0,NaN
2,Albania,42.82,'Low',55.52,'Moderate',48.21,'Moderate',86.43,'Very High',40.85,'Low',14.88,'High',36.74,'Moderate',77.25,'High',': 104.16','Low'
3,Alderney,0.00,NaN,83.79,'Very High',100.00,'Very High',0.00,NaN,0.00,NaN,0.0,NaN,5.00,'Very Low',1.72,'Very Low',0.0,NaN
4,Algeria,27.60,'Very Low',47.54,'Moderate',54.43,'Moderate',94.82,'Very High',25.31,'Very Low',21.7,'Very High',45.09,'High',63.87,'High',': 98.83','Very Low'

In [16]:
numeric_df = df.select_dtypes(include=[np.number])
print(f"Head:\n{df.head()}\n")
print(f"Describe:\n{df.describe()}\n")
print(f"Sum of Missing Values:\n{numeric_df.isnull().sum()}\n")
print(f"Sum of 0 Values:\n{(numeric_df == 0).sum()}\n")
print(f"Sum of Negative Values:\n{(numeric_df < 0).sum()}")

Head:
         country  Purchasing Power Value Purchasing Power Category  \
0    Afghanistan                   32.15                'Very Low'
1  Aland Islands                  125.01               'Very High'
2        Albania                   42.82                     'Low'
3       Alderney                    0.00                       NaN
4        Algeria                   27.60                'Very Low'

   Safety Value Safety Category  Health Care Value Health Care Category  \
0         25.33           'Low'              24.24                'Low'
1         71.81          'High'              79.72               'High'
2         55.52      'Moderate'              48.21           'Moderate'
3         83.79     'Very High'             100.00          'Very High'
4         47.54      'Moderate'              54.43           'Moderate'

   Climate Value Climate Category  Cost of Living Value  \
0           0.00              NaN                 21.08
1           0.00              NaN                 53.44
2          86.43      'Very High'                 40.85
3           0.00              NaN                  0.00
4          94.82      'Very High'                 25.31

  Cost of Living Category Property Price to Income Value  \
0              'Very Low'                            7.8
1                   'Low'                           5.33
2                   'Low'                          14.88
3                     NaN                            0.0
4              'Very Low'                           21.7

  Property Price to Income Category  Traffic Commute Time Value  \
0                             'Low'                       56.17
1                             'Low'                       19.05
2                            'High'                       36.74
3                               NaN                        5.00
4                       'Very High'                       45.09

  Traffic Commute Time Category  Pollution Value Pollution Category  \
0                   'Very High'            84.44        'Very High'
1                    'Very Low'            18.05         'Very Low'
2                    'Moderate'            77.25             'High'
3                    'Very Low'             1.72         'Very Low'
4                        'High'            63.87             'High'

  Quality of Life Value Quality of Life Category
0                   0.0                      NaN
1                   0.0                      NaN
2            ': 104.16'                    'Low'
3                   0.0                      NaN
4             ': 98.83'               'Very Low'

Describe:
       Purchasing Power Value  Safety Value  Health Care Value  Climate Value  \
count              236.000000    236.000000         236.000000     236.000000
mean                55.573305     55.274449          54.731568      37.598178
std                 52.008245     16.914298          20.607381      40.851542
min                  0.000000      0.000000           0.000000      -3.540000
25%                 16.340000     43.857500          45.807500       0.000000
50%                 42.930000     54.635000          57.150000       0.000000
75%                 85.940000     68.132500          68.447500      79.332500
max                281.830000    100.000000         100.000000      99.890000

       Cost of Living Value  Traffic Commute Time Value  Pollution Value
count            236.000000                  236.000000       236.000000
mean              37.526314                   28.492966        54.266186
std               26.026565                   17.347242        25.853695
min                0.000000                    0.000000         0.000000
25%               24.550000                   17.100000        35.700000
50%               36.895000                   29.845000        59.765000
75%               51.090000                   38.870000        73.740000
max              137.370000                  100.000000       106.900000

Sum of Missing Values:
Purchasing Power Value        0
Safety Value                  0
Health Care Value             0
Climate Value                 0
Cost of Living Value          0
Traffic Commute Time Value    0
Pollution Value               0
dtype: int64

Sum of 0 Values:
Purchasing Power Value         46
Safety Value                    2
Health Care Value              15
Climate Value                 122
Cost of Living Value           45
Traffic Commute Time Value     34
Pollution Value                11
dtype: int64

Sum of Negative Values:
Purchasing Power Value        0
Safety Value                  0
Health Care Value             0
Climate Value                 1
Cost of Living Value          0
Traffic Commute Time Value    0
Pollution Value               0
dtype: int64